@model IEnumerable<SA_ASP.NET_MVC_Practice.Models.Product>

@{
    ViewBag.Title = "List of products";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProductId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductType)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductType)
            </td>
            <td>
                @Html.ActionLink("Details of product", "ShowById", new { productId = item.ProductId })
            </td>
        </tr>
    }

</table>





@*@model IEnumerable<SA_ASP.NET_MVC_Practice.Models.Product>

@{
    ViewBag.Title = "List of products";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("ShowList", "Product", FormMethod.Post))
{
    <div class="form-horizontal">
        @foreach (var item in Model)
        {
            <hr />
            <div class="form-group">
                @Html.Label("Product Id:", new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.Label(item.ProductId.ToString())
                </div>
            </div>

            <div class="form-group">
                @Html.Label("Name:", new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.Label(item.Name.ToString())
                </div>
            </div>
            <div class="form-group">
                @Html.Label("Price:", new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.Label(item.Price.ToString())
                </div>
            </div>
            <div class="form-group">
                @Html.Label("Type of product:", new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.Label(item.ProductType.ToString())
                </div>
            </div>
        }
    </div>}*@